@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

body {
  font-family: 'Prompt', sans-serif;
  background-color: #EAF2EF;
  scrollbar-width: thin;          
  scrollbar-color: #521945 #EAF2EF;
}


@layer components {
  .navbar {
    @apply w-full h-[10%] fixed bg-[#EAF2EF]
   flex items-center justify-center border-b shadow-md
  }
  .navbar-link {
    @apply text-[16px] text-gray-600 hover:text-[#912F56] 
    ease-in-out duration-150
  }
}
@layer components {
  .sub-navbar-link {
    @apply text-[16px] font-semibold mx-5 hover:text-[#912F56]
  }
  .article-bubble {
    @apply flex flex-col rounded-lg bg-[#912F56] 
    border text-white mx-2 mb-3 shadow-md 
    hover:border-[#912F56] hover:shadow-xl ease-in-out duration-150
  }
}


@layer components {
  .container {
    @apply flex justify-between mb-[1.5rem] 
  }
  .title {
    @apply text-gray-600 font-bold text-[36px]
  }
  .select-button {
    @apply flex items-center justify-between 
    text-[16px] w-[60%] border p-2 rounded-md
    border-[#521945]
    bg-inherit
    /* bg-white */
  }
  .text-area {
    @apply w-[60%] border border-[#521945]
    outline-none rounded-md
    resize-none p-2 bg-transparent 
  }
}

@layer components {
  .checkout-button {
    @apply p-2 text-white rounded-lg w-full
    bg-[#912F56] hover:bg-[#F7C4A5] hover:text-[#912F56] 
    ease-in-out duration-150
  }
  .checkout-button-in-cart {
    @apply p-2 text-white rounded-lg w-full
    bg-[#912F56] opacity-50
    ease-in-out duration-150
  }
}


@layer components {
  .cart-items {
    @apply border border-black rounded-lg p-3 flex items-center justify-between
  }

}

@layer components {
  .spacer {
    @apply aspect-auto w-full h-full bg-no-repeat bg-center bg-cover 
  }
  .layer1 {
    @apply bg-[url('./svg/layer1.svg')]
  }
  .layer2 {
    @apply bg-[url('./svg/layer2.svg')]
  }
  .layer3 {
    @apply bg-[url('./svg/layer3.svg')]
  }
  .layer4 {
    @apply bg-[url('./svg/layer4.svg')]
  }
  .layer5 {
    @apply bg-[url('./svg/layer5.svg')]
  }
  .layer6 {
    @apply bg-[url('./svg/layer6.svg')]
  }
  .layer7 {
    @apply bg-[url('./svg/layer7.svg')]
  }
  .layer8 {
    @apply bg-[url('./svg/layer8.svg')]
  }
  .layer9 {
    @apply bg-[url('./svg/layer9.svg')]
  }
  .layer-wave1 {
    @apply bg-[url('./svg/layer-wave1.svg')]
  }
}